@charset "UTF-8";

@import url(./reset.css);
@import url(./fonts.css);
@import url(./base.css);
@import url(./common.css);
/* @import url(./style.css); */
/* @import url(./main.css); */

body {
    overflow-x: hidden;
}

/* container */
.container{
    margin:0 20.8%; /*약400px*/
}

/* video */
.main-video {
    margin-top: -144px;
}

/* article design */
.article{
    /* 수정필요 */
    padding-top: 160px;;
    padding-bottom: 160px;
}
.has-background{
    background: #F9FAFC;
    padding:128px 0;
}
.has-background.theme-black{
    background: #1D1C22;
    padding:102px 0;
    color: white;
    text-align: center;
}
.has-background.theme-black .article-title{
    margin-bottom: 40px;
}

/* article-title */
.article-title{
    margin-bottom: 80px;
    text-align: center;
}
.article-title.align-left{
    text-align: left;;
}

.article-title__title{
    font-size:36px;
    font-weight: 700;
}

.article-title__category{
    color:#FF6883;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
}

.article-title__category.is-secondary{
    color:#5763E9;
}


.button-list{
    text-align: center;
}
.button__item{
    margin-right: 24px;
}
.button__item:last-child{
    margin-right: 0
}

/* process */
.icon-list{
    max-width:10%;
    text-align: center;
    display: inline-block;
}
.icon-list__item{
    margin-bottom: 24px;
    text-align: center;
}
.icon-list__item:last-child{
    margin-bottom: 0;
}
.icon__box{
    width:80%;
    padding-top:80%;
    background: #ECECF3;
    border-radius: 16px;
    
}
.icon__box.is-active{
    background: #FDE7EB;
}
.icon-list__text-box{
    font-size:14px;
    font-weight: 600;
    color: #8a8a9d;
    margin-top: 12px;
}
.icon-list__number{
    margin-bottom: 4px;
}
.preview-list{
    display: inline-block;
    width:90%
}
.preview-list__item{
    text-align: right;
}
.preview__img-box{
    width: 86.66666666666667%;
    padding-top: 65%;
}

/* biz */
.biz-slide__item{
    margin-bottom: 56px;
}
.biz-list{
    margin-bottom: 72px;
}
.biz__item{
    cursor: pointer;
    margin-right:56px;
    padding:0
}
.biz__item.is-active{
    color:#FF6883;
}

.biz__item, .biz__desc{
    color:#afaebe;
    font-size: 24px;
    font-weight: 600;
}

.biz__keyword-area{
    margin-bottom: 32px;
}
.biz-keyword__item{
    color:#ED4559;
    background-color: #FFE3E8;
}
.biz__text-box{
    max-width:50%;
    display: inline-block;
    float:right;
}
.biz__desc {
    margin-top: 56px;
    width:60%;
}

.biz__img-box{
    width:40%;
    padding-top:30%;
    /* background:black; */
}

#main-kica{
    padding: 200px;
    /* 이미지로 수정 */
    background: #F9FAFC;
}

/* square */
.square-list{
    margin-top: 160px;
}
.square__item{
    display:inline-block;
    margin-right: 108px;;
    min-width: 216px;
}
.square__soft{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    opacity:.5
}
.square__accent{
    font-size: 48px;
    font-weight: 700;
}

/* card */
.card-list{
    width:500%;
}
.card__item{
    padding:56px 40px;
    box-shadow: -2px 4px 50px rgba(208, 204, 221, 0.25);
    margin-right: 40px;
    border-radius: 20px;
    width: 360px;
}
.card__title{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 24px;
}
.card__img-box{
    width:100%;
    margin-top: 56px;
}
.card__img-box > img{
    right:0;
    transform: translateY(-50%);
}

/* reference */
#main-reference .article-title__title{
    margin-bottom: 24px;
}

/* logo */
.logo-list{
    text-align: center;
    margin-bottom: 40px;
}
.logo-list:last-child{
    margin-bottom: 0;
}
.logo__item{
    background:#dedee9;
    border-radius: 8px;
    padding: 24px 64px;
    margin-right: 48px;
}
.logo__item:last-child{
    margin-right: 0;
}

/* header */
.header .container{
    position: relative;
    padding:40px 0;
    z-index: 1;
}
.header-wrap {
    background-color: #ED4559;
}
.header__logo{
    display: inline-block;
    width: 104px;
    margin-right: 64px;
    background-color: #5763E9;
}
.nav{
    display: inline-block;
    background-color: #8a8a9d;
}
.header .button-list{
    display: inline-block;
}
.sub-gnb{
    display: none;
}
.gnb__item{
    margin-right: 32px;
    font-weight: 600;
}
.gnb__item:last-child{
    margin-right: 0;
}