header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 9999;
    .header_box {
        position: relative;
        width: 100%;
        height: 8rem;
        padding: 2rem;
        background-color: $wh;
        border-bottom: 0.1rem solid #ededed;
        .logo {

        }
        .gnb {
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .depth1 {
                width: 100%;
                li {
                    float: left;
                    padding:0 2.7rem;
                    a {
                        display: block;
                        font-size: 1.8rem;
                        font-weight: 500;
                    }
                }
            }
        }
        .gnb_depth2_wrap {
            position: absolute;
            top:-100rem;
            left: 50%;
            width: 100%;
            background-color: $wh;
            transform: translateX(-50%);
            transition: 0.8s;
            z-index: -1;
            &.depth2_on{
                top:8rem;
            }
            .depth2_box {
                width: 70%;
                margin: 0 auto;
                >ul {
                    float: left;
                    width: calc(100% / 5);
                    height: 35rem;
                    padding-top: 3rem;
                    border-left: 0.1rem solid #ededed;
                    text-align: center;
                    &:last-child {border-right: 0.1rem solid #ededed;}
                    li {
                        width: 15rem;
                        margin: 0 auto;
                        strong {
                            font-size: 1.8rem;
                            color:$mabg;
                        }
                        a {
                            position: relative;
                            display: inline-block;
                            padding-top: 2rem;
                            font-size: 1.8rem;
                            &::before {
                                content:"";
                                position: absolute;
                                right: 49%;
                                bottom: -0.5rem;
                                width: 0;
                                height: 0.4rem;
                                background-color: $mabg;
                                transition: 0.5s;
                            }
                            &::after {
                                content:"";
                                position: absolute;
                                left: 49%;
                                bottom: -0.5rem;
                                width: 0;
                                height: 0.4rem;
                                background-color: $mabg;
                                transition: 0.5s;
                            }
                            &:hover::before {
                                width: 57%;
                            }
                            &:hover::after {
                                width: 57%;
                            }
                        }
                    }
                }
            }
            .gnb_banner {
                width: 100%;
                height: 15rem;
                padding-top: 5.5rem;
                font-size: 2rem;
                border-top: 0.1rem solid #ededed;
                background-color: cadetblue;
                text-align: center;
                strong {color:$mabg;}
            }
        }
        .login_box {
            position: absolute;
            top:50%;
            right: 2rem;
            transform: translateY(-50%);
            li {
                float: left;
                a {
                    font-size: 1.6rem;
                    &.start {
                        padding: 1rem 1.5rem;
                        margin-left: 2.5rem;
                        color:$wh;
                        border-radius: 2rem;
                        background-color: $mabg;
                    }
                }
            }
        }
    }
}