/* 모바일만 ~767px */
@media screen and (max-width: 767px) {}

/* 태블릿부터 768px~ */
@media screen and (min-width: 768px) {}

/* 태블릿만 768px~1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {}

/* PC부터 1024px~ */
@media screen and (min-width: 1024px) {}

/* 작은 PC 1024px~1279px */
@media screen and (min-width: 1024px) and (max-width: 1279px) {}

/* PC 1280px~ */
@media screen and (min-width: 1280px) {

}