body {
    background-color: $wh;
    
}

.singok_section1_container {
    position: relative;
    .section1_wrap {
        width: 100%;
        margin-top: 80rem;
        .process_video_container {
            position: absolute;
            left: 50%;
            float: left;
            width: 70%;
            transition: 0.7s;
            transform: translateX(-50%);
            &.move {
                left: 0;
                transform: translateX(0);
                margin-left: 3%;
            }
            .tb_video_wrap {
                float: left;
                position: relative;
                width: 70%;
                padding-top: 52.5%;
                transition: 0.7s;
                background-color: #000;
                &.left_rotate {
                    transform: perspective(1000px) rotateY(10deg);
                }
                .tb_video {
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 100%;
                    opacity: 0;
                    transition: opacity 0.3s;
                    &.vd_active {
                        opacity: 1;
                    }
                    video {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .mo_video_wrap {
                float: left;
                position: relative;
                width: 29%;
                padding-top: 51.5555%;
                margin-left: 1%;
                transition: 0.7s;
                &.right_rotate {
                    margin-left: -2%;
                    margin-top: 0.6rem;
                    transform: perspective(1000px) rotateY(-20deg);
                }
                .mo_video {
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: opacity 0.3s;
                    &.vd_active {
                        opacity: 1;
                    }
                    video {
                        // width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .process_utility_container {
            position: relative;
            left: -4rem;
            width: 27%;
            float: right;
            transform: translateX(100rem);
            transition: 1.5s;
            // background-color: aquamarine;
            &.utility_on {
                transform: translateX(0);
            }
            #tabVideoControl {
                float: left;
                width: 29%;
                .utility_item {
                    position: relative;
                    >ul {
                        float: left;
                        width: 15rem;
                        text-align: center;
                        cursor: pointer;
                        &.ut_active {
                            font-weight: 500;
                            color:$mabg;
                        }
                        .target_imgbox {
                            position: relative;
                            height: 4rem;
                            .target_img1{
                                position: absolute;
                                top:0;
                                left: 50%;
                                transform: translateX(-50%);
                                opacity: 0;
                                &.icon_on {
                                    opacity: 1;
                                }
                            }
                            .target_img2 {
                                position: absolute;
                                top:0;
                                left: 50%;
                                transform: translateX(-50%);
                                opacity: 1;
                                &.icon_off {
                                    opacity: 0;
                                }
                            }
                        }
                        .utility_title {
                            display: block;
                            margin-top: 1rem;
                            font-size: 1.6rem;
                        }
                        .arrow_icon {
                            margin: 2.5rem 0;
                            rotate: 90deg;
                            img {width: 1.5rem;}
                        }
                    }
                    .utility_txt {
                        float: left;
                        font-size: 1.6rem;
                        opacity: 0;
                        transition: transform 0.4s;
                        &.txt_active {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }
            .description_box {
                float: left;
                position: relative;
                width: 71%;
                .description_txt {
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 100%;
                    >.txt {
                        li {
                            &.des_item1 {
                                font-size: 3.2rem;
                                font-weight: 500;
                                color:$mabg;
                                transform: translateY(20rem);
                                opacity: 0;
                                transition: opacity 0.3s, transform 1s;
                                border-bottom: 0.5rem solid $mabg;
                                &.des_on {
                                    transform: translateY(-1.2rem);
                                    opacity: 1;
                                }
                            }
                            &.des_item2 {
                                margin: 4rem 2rem 0 0;
                                padding: 2rem;
                                font-size: 1.7rem;
                                font-weight: 400;
                                color:$bk;
                                transform: translateY(20rem);
                                opacity: 0;
                                transition: opacity 0.3s, transform 1.5s;
                                box-shadow: 0px 4px 4px rgba(0, 0, 3, .10);                                
                                border-radius: 1rem;
                                &.des_on2 {
                                    transform: translateY(0);
                                    opacity: 1;
                                }
                            }
                            &.des_item3 {
                                margin: 4rem 2rem 0 0;
                                padding: 2rem;
                                font-size: 1.7rem;
                                font-weight: 400;
                                color:$bk;
                                transform: translateY(20rem);
                                opacity: 0;
                                transition: opacity 0.3s, transform 1.8s;
                                box-shadow: 0px 4px 4px rgba(0, 0, 3, .10);                                
                                border-radius: 1rem;
                                &.des_on3 {
                                    transform: translateY(0);
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            .utility_bottom_box {
                position: absolute;
                left: 2rem;
                bottom: -18rem;
                width: 100%;
                .bottom_item {
                    position: relative;
                    float: left;
                    width: 30%;
                    padding-top: 30%;
                    margin-left: 3.3333%;
                    text-align: center;
                    border-radius: 2.5rem;
                    box-shadow: 3px 4px 24px 0px rgba(238, 54, 73, 0.1);
                    &:hover {
                        background: rgb(238,54,73); /* Old browsers */
                        background: -moz-linear-gradient(-45deg,  rgba(238,54,73,1) 0%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(-45deg,  rgba(238,54,73,1) 0%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(135deg,  rgba(238,54,73,1) 0%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee3649', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                    }
                    a {
                        position: absolute;
                        top:50%;
                        left: 50%;
                        width: 100%;
                        transform: translate(-50%, -50%);
                        padding: 4rem;
                        &:hover {
                            color:$wh;
                        }
                        span {
                            display: block;
                            margin-top: 2rem;
                            font-size: 1.6rem;
                            font-weight: 500;
                        }
                    }
                }

            }
        }
    }
}